<?xml version="1.0" encoding="UTF-8"?>
<pdf>
    <page page-size="letter-landscape" background.image="{{ pdf_image('UNAMAppBundle:constancia_alumno.png') }}" background.repeat="none" background.image-height="100%" background.position-x="center" background.position-y="center">
        <placeholders>
            <header height="20px">
                <div text-align="right" height="20px">
                    <page-info format="Página %s de %s" />
                </div>
            </header>
        </placeholders>
        <h1 position="absolute" width="100%" text-align="center" left="0px" top="350px" font-size="24px">
           {{alumno.nombreCompleto}}
        </h1>
        <h2 position="absolute" width="100%" text-align="center" left="0px" top="400px" font-size="22px">{{curso.nombreCursoCompleto}}</h2>
        <div color="gray" text-align="right" font-size="14px">{{curso.nota|capitalize}}</div>
    </page>
</pdf>
