<div class="form-group" id="cursoConstancia">
    <label class="col-md-3 control-label" for="cursoIdConstancia">Curso</label>
    <div class="col-md-9">
        <select id="cursoIdConstancia" name="cursoIdConstancia" class="form-control">
            {% for curso in cursos %}
                <option value="{{curso.id}}">{{curso.grupo}} - {{curso.nombreCursoCompleto}}</option>
            {% endfor %}
        </select>
    </div>
</div>
