{% extends 'UNAMAppBundle::layout.html.twig' %}

{% block content %}
    
    <div class="col-lg-12">
        <div class="page-header ">
            <h2 class="">Alumnos</h2>
        </div>  
     </div>           
{% endblock %}
